.carrossel {
  /*background: linear-gradient(var(--cor-de-fundo),var(--branco));*/
  background-color: var(--preto);
  padding: 2em 0;
  text-align: center;
}

.carrossel__titulo {
  font-family: "Trajan Bold";
  color: var(--branco);
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  padding: 0 0 1em 0;
  margin: 1em 0;
}

.swiper-slide {
  text-align: center;
  background-color: var(--cor-de-fundo);
  border-radius: 25px;
  padding: 0 0.5em 2em 0;
}

.swiper-slide img {
  /*div que consta as img*/
  width: 104%;
  height: 21vh;
  border-radius: 25px;
}

.carrossel__titulo-artigo {
  font-family: "Trajan Pro";
  font-size: 12px;
  text-align: center;
  padding: 1em 0.2em;
  font-weight: 700;
}

.carrossel__texto-artigo {
  font-family: "Gotham Light";
  padding: 1.5em 0.5em;
  color: var(--preto);
  font-size: 13px;
}

.link__saibamais {
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  color: var(--preto);
  background-color: #cbbb26;
  padding: 0.5em;
  border-radius: 30px;
}

.swiper-pagination {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.box__link {
  display: flex;
  flex-direction: column;
}

.link__artigos {
  margin: 1.5em 10em;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  color: var(--preto);
  background-color: #cbbb26;
  padding: 0.5em;
  border-radius: 30px;
}

.img__martelo-carrossel {
  width: 55vw;
  height: 30vh;
  align-self: center;
}
